<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Growing-<%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js"></script>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/prism-themes/1.9.0/prism-one-dark.css"
      rel="stylesheet"
    />
    <link rel="icon" href="../../favicon.ico" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/newsprint.css" />
    <link rel="stylesheet" href="../css/color.css" />
    <link rel="stylesheet" href="../css//article.css">
  </head>

  <body>
    <div class="nav">
      <div class="home">
        <a href="https://wu-yu-pei.github.io/leetcode/"><img src="../img/home.svg" alt="" /></a>
      </div>
      <div class="auther">Growing</div>
      <div class="check">
        <a href="https://github.com/wu-yu-pei"><img src="../img/github.svg" alt="" /></a>
      </div>
    </div>
    <div class="content">
      <h1><%= title %></h1>
      <%- html %>
      <div class="page">
        <a
          href="https://wu-yu-pei.github.io/leetcode/src/html/<%- pre === null ? '../../list' : pre  %>.html"
          class="pre"
        >
          <img src="../img/leftArrow.svg" alt="" />
          <%- pre === null ? 'List' : pre %>
        </a>
        <a
          href="https://wu-yu-pei.github.io/leetcode/src/html/<%- next === null ? '../../list' : 'pre'  %>.html"
          class="next"
        >
          <%- next === null ? 'List' : next %>
          <img src="../img/rightArrow.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="fotter">
      <p>All articles written with ❤ by Wu Yupei</p>
      <p>Github · Gieee · QQ · WeChat</p>
    </div>
    <script src="../js/click.js"></script>
    <script src="../js/scroll.js"></script>
  </body>
</html>
